.inputForm {
  background-color: burlywood;
  margin: 0;
}
h1 {
  background-color: rgb(59, 54, 54);
  color: white;
  padding: 10px;
  margin: 0;
}
.text {
  margin: 8px 0;
  margin-left: 10px;
  width: 50%;
  border-radius: 3px;
  height: 25px;
  font-weight: bold;
}

.radiobutton {
  margin-left: 10px;
  height: 20px;
}
.destination-header {
  font-weight: 600;
  margin: 10px;
}
.destination-input {
  margin-left: 10px;
  font-weight: bold;
}
.restrictions-title {
  margin-left: 10px;
  font-weight: 600;
}
.restrictions {
  margin-left: 10px;
}
.submit {
  padding: 10px;
  width: 100px;
  margin: 10px;
  position: relative;
  left: 10px;
  font-weight: 700;
  font-size: 14px;
}
.entered-info {
  background-color: rgb(30, 85, 85);
  color: white;
}
.entered-info h2 {
  margin: 10px;
  padding: 10px;
  font-weight: 650;
}
.entered-info p {
  font-size: 18px;
  margin-left: 20px;
  font-style: oblique;
}

.restrictions {
  margin-left: 30px;
  padding-bottom: 25px;
}
